{% extends 'base.html.twig' %}
{% block title %}Mentions légales | EcoRide{% endblock %}
{% block body %}
<div class="container py-4">
    <h1 class="mb-4" style="color:#4A7C59;">Mentions légales</h1>
    <h5>Éditeur du site</h5>
    <ul>
        <li><b>Nom de l’éditeur :</b> EcoRide</li>
        <li><b>Adresse :</b> Hyères</li>
        <li><b>Email :</b> <a href="mailto:contact@ecoride.com">contact@ecoride.com</a></li>
        <li><b>Responsable de la publication :</b> Amélie O.</li>
        <li><b>SIRET :</b> 123 456 789 00017</li>
    </ul>
    <h5>Hébergement</h5>
    <ul>
        <li><b>Hébergeur :</b> AlwaysData</li>
        <li><b>Adresse :</b> 91 rue du Faubourg Saint Honoré, 75008 Paris</li>
        <li><b>Téléphone :</b> 01 84 16 23 40</li>
    </ul>
    <h5>Propriété intellectuelle</h5>
    <p>
        L’ensemble des contenus (textes, images, logo…) présents sur le site EcoRide sont protégés par le droit d’auteur.  
        Toute reproduction ou représentation est interdite sauf accord écrit préalable de l’éditeur.
    </p>
    <h5>Contact</h5>
    <p>Pour toute question, écrivez à : <a href="mailto:contact@ecoride.com">contact@ecoride.com</a></p>
</div>
{% endblock %}
